----
/* --------- */
/* Contactme */
/* --------- */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.h2txt{
  font-family:'Times New Roman', Times, serif;
  margin-top: 18%;
  text-align: center;
  justify-content: center;
  color: #b165e0;
  
}
.flp{
  
  display: flex;
  justify-content: space-between;
  margin: 5rem 10rem 15rem 10rem;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background_ctm {
   /* Cambia 'background_image.jpg' por la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  height: 150%;
}

.container_ctm {
  max-width: 400px;
  margin: 50px auto;
  background: rgb(135,73,179);
background: radial-gradient(circle, rgba(135,73,179,0.6778361002604167) 0%, rgba(78,107,142,1) 100%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"], 
input, textarea{
  width: calc(100% - 12px);
  padding: 6px;
  margin-bottom: 15px;
  border: 1px solid #a078b986;
  border-radius: 15px;
  
}

.form-txt a{
  color: #76b28e;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: rgb(183,135,206);
  background: radial-gradient(circle, rgba(183,135,206,1) 14%, rgba(213,132,148,1) 97%);
  color: #1f1d1d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}