.product-gallery-header {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #FFFFFF; 
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-family: 'Arial', sans-serif; 
  padding: 20px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.input-group {
  max-width: 500px; 
}

/* Contenedor principal de la galería de productos, ajusta según tu HTML */
.product-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el tamaño mínimo como desees */
  gap: 20px; /* Espacio entre elementos */
  padding: 10px;
}

.product-item {
  border: 2px solid #600463;
  border-radius: 1rem;
  padding: 1rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 5px 15px rgba(0, 2, 0, 0.1); 
}

.product-item img {
  width: 100%; /* Ajusta la imagen para llenar el ancho del contenedor */
  height: 200px; /* Ajusta esto a la altura deseada */
  margin-bottom: 1rem;
  object-fit: cover; /* Cambia a 'cover' para que las imágenes cubran el área designada */
}

.product-item h5 {
  color: #ea2ef1;
  margin-top: 0.5rem;
  font-size: 1.0rem;  
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-family: 'Arial', sans-serif;
}

@media screen and (max-width: 600px) {
  .product-gallery {
    grid-template-columns: 1fr; /* En pantallas pequeñas, los elementos se apilan */
  }
}
.expanded {
  transform: scale(2); /* Ajusta esto según el tamaño deseado */
  z-index: 2; /* Asegúrate de que la imagen está sobre otros elementos */
  transition: transform 0.3s; /* Para suavizar la transición */
  cursor: default; /* Cambiar el cursor para indicar que no es clickeable cuando está expandida */
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3; /* El botón debe estar sobre la imagen expandida */
  background: #f00; /* Fondo rojo, cambia según tus preferencias */
  color: #fff; /* Color blanco del texto, cambia según tus preferencias */
  border: none; /* Sin borde */
  padding: 0.5em; /* Ajusta el padding según necesites */
  cursor: pointer; /* Cambiar el cursor para indicar que es clickeable */
}

.product-item {
  position: relative; /* Para posicionar el botón de cierre */
}
